<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
	<link rel='stylesheet' href='/style.css'>
</head>

<body>

	<h1>Twitter Education Bot</h1>
	<p>Sign up to get tweets about class assignments coming up!</p>

	<form id="reg_form" action='register' method='POST'>
		<input type='text' name='handle' placeholder='Twitter Handle'><br>
		<input type='text' name='first_name' placeholder='First Name'><br>
		<input type="text" name="last_name" placeholder='Last Name'><br>
		<!-- <input type="text" name="enrolled" placeholder='Class'><br> -->

		<select name="enrolled[]" form="reg_form" size="5" multiple>
			<option value="NA" selected>Select your classes</option>
			<option value="161">161 - Intro to Comp Science I</option>
			<option value="162">162 - Intro to Comp Science II</option>
			<option value="165">165 - Accelerated Intro to Comp Science</option>
			<option value="225">225 - Discrete Math</option>
			<option value="261">261 - Data Structures</option>
			<option value="271">271 - Architecture And Assembly</option>
			<option value="325">325 - Algorithms</option>
			<option value="340">340 - Intro to Databases</option>
			<option value="344">344 - Operating Systems</option>
			<option value="352">352 - Usability Engineering</option>
			<option value="361">361 - Software Engineering I</option>
			<option value="362">362 - Software Engineering II</option>
			<option value="372">372 - Computer Networks</option>
			<option value="419">419 - Software Projects</option>
			<option value="496">496 - Mobile and Cloud</option>
		</select>
		<br>
		<p>(Hold Ctrl or Cmd to make multiple selections at once!)</p>
		<br>
		<input type='submit' value='Register with Twitter Edu Bot'>
	</form>

</body>
</html>