<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
	<!-- <link rel='stylesheet' href='/style.css'> -->
</head>

<body>

	<h1>Twitter Education bot</h1>
	<p>Get tweets about class assignments coming up!</p>

	<h2>Congrats! You are registerd!</h2>

	<h3>Register</h3>

	<form action='register' method='POST'>
		<input type='text' name='handle' placeholder='Twitter Handle'><br>
		<input type='text' name='first_name' placeholder='First Name'><br>
		<input type="text" name="last_name" placeholder='Last Name'><br>
		<input type="text" name="enrolled" placeholder='Class'><br>
		<input type='submit' value='Register with Twitter Edu Bot'>
	</form>

</body>
</html>