@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

body {
	font-family: 'Encode Sans Expanded', sans-serif;
	background-color: #aec7ef;
	text-align: center;
	margin: auto;
	padding: 55px;
}

h1 {
	font-size: 45px;
	font-weight: bold;
}

body form{
	margin-top: 45px;
	padding: 5px;
}

input {
	margin: 5px;
	padding: 8px;
	text-align: center;
}

select {
	text-align: center;
	margin-top: 35px;
}

p {
	margin-top: 15px;
}

input[type="submit"] {
	border: 3px;
	background: white;
	margin-top: 5px;
	border-radius: 8px;
	width: 25em;
	height: 4em;
}

input[type="submit"]:hover {
	background-color: #d1e2ff;
}

footer {
	font-size: 12px;
}

a:hover {
  color: black;
}